.admin {
  background-color: #c0d6df !important;
}

.admin-nav {
  background-color: #4f6d7a !important;
}

.admin-drop {
  background-color: #eaeaea !important;
}

.admin-form {
  background-color: #e8dab2 !important;
}

.bg1 {
  background-image: url("../img/background/bg1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 110vh;
  overflow: hidden;
}
.bg2 {
  background-image: url("../img/background/bg2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 110vh;
  overflow: hidden;
}
.bg3 {
  background-image: url("../img/background/bg3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 110vh;
  overflow: hidden;
}

.table-scroll {
  max-height: 500px;
  overflow-y: scroll;
}

form.soal .input-group span {
  width: 20%;
  text-align: left;
}

form.materi .input-group span {
  width: 25%;
  text-align: left;
}

form.ubah-materi .input-group span {
  width: 30%;
  text-align: left;
}

input:disabled,
textarea:disabled {
  background-color: #e8dab2 !important;
}
